# IDE Stuff
.vscode/**
.idea/**

# Folders
node_modules/**
.svelte-kit/**
build/**
src-tauri/target/**
src-tauri/gen/**

# Files
.env
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
src-tauri/Cargo.lock
